<div class="container">
  <h2>Tickets bought</h2>
  <div
    *ngIf="ticketsBought && ticketsBought.length !== 0;then thenBlockTicketsBought else elseBlockTicketsBought"></div>
  <ng-template #thenBlockTicketsBought>
    <div *ngFor="let ticket of ticketsBought;let i = index">
      <app-ticket-presentation-edit
        [ticket]="ticket"
        (onTicketChanged)="refreshTickets()"
      ></app-ticket-presentation-edit>
    </div>
  </ng-template>
  <ng-template #elseBlockTicketsBought>
    <div>No tickets bought.</div>
  </ng-template>
  <div>
    <app-add-edit-ticket
      [userId]="userId"
      [eventId]="eventId"
      (onTicketChanged)="refreshTickets()"
    ></app-add-edit-ticket>
  </div>
</div>
