<div class="reviews-container">
  <div class="title-container">
    <h2>My reviews</h2>
  </div>

  <table mat-table [dataSource]="reviews" class="reviews-table">
    <ng-container matColumnDef="event-name">
      <th mat-header-cell *matHeaderCellDef>Event Name</th>
      <td mat-cell *matCellDef="let element">{{element.event.name | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let element;let i = index" class="rating-container">
        {{element.rating}}
        <mat-icon>star</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let element" class="review-description">{{formatDescription(element.message)}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{formatDate(element.date)}}</td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>View</th>
      <td mat-cell *matCellDef="let element" (click)="viewReview(element)">
        <mat-icon>
          pageviewicon
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element" (click)="deleteReview(element)">
        <mat-icon>
          delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="!fetchedReviews">
    <mat-spinner></mat-spinner>
  </div>
</div>
