.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  background-color: #6e72fc;
  padding: 3vh 5vw 3vh 5vw;
  color: #ffffff;
}

.navbar-container > h1 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

a {
  color: white;
  font-size: 1.5rem;
  padding: 1vh 1vw;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.btn-logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1rem;
}

.btn-logout:hover {
  text-decoration: underline;
}
